body {
  background-color: #eee;
  font-family: Raleway, sans-serif;
  h1 {
    color: #244751;
    font-family: Raleway, sans-serif;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;

}

main .test {
  
}
