body {
  background-color: #eee;
  font-family: Roboto Condensed, sans-serif;

  h1 {
    color: #244751;
    font-family: Roboto Condensed, sans-serif;
  }
}

#navbar {
  font-family: Raleway, sans-serif;
}
